# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# If you use a virtualenv (recommended):
venv/
ENV/
env/
env.bak/
venv.bak/
Miniconda3-latest-Linux-x86_64.sh
test-env/
miniconda3/
envs/

# Pytest cache
.pytest_cache/
.cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/

# PyCharm project files
.idea/

# VS Code project files
.vscode/

# Your local environment variables file
.env

# MacOS files
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
.env
db.sqlite3.bak
.vercel
Miniconda3-latest-Linux-x86_64.sh
